apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello
spec:
  selector:
      matchLabels:
        app: hello
  replicas: 1
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
        - name: hello
          image: #IMAGE#
          imagePullPolicy: Always
          ports:
            - containerPort: 9080
          env:
          - name: env_name
            value: "#env_name#"
          - name: app_name
            value: "#app_name#"
          - name: BUILD_NUMBER
            value: "#BUILD_NUMBER#"
      imagePullSecrets:
        - name: cfcr
---
apiVersion: v1
kind: Service
metadata:
  name: hello-service
spec:
  selector:
    app: hello
  ports:
    - protocol: TCP
      port: 9080
      targetPort: 8080
  loadBalancerIP: 192.168.50.11
  type: LoadBalancer
status:
  loadBalancer:
    ingress:
      - ip: 192.168.50.11
